body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none; 
}


.logo-start {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}


.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-address { 
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-address:hover,
.header-address:focus {
    color: #404BBF;
}


.hero {
    background-color: #434455;
}

.hero-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
    
        /* WHITE */
    
        color: #FFFFFF;
        cursor: pointer;
}

.goal-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        
}

.goal-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

}

.team {
    background-color: #F4F4FD;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
       
}

.team-member {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    
        letter-spacing: 0.02em;
       
}

.team-member-text {
    font-size: 16px;
    line-height: 1.5;
   
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color:#2E2F42;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        /* or 150% */
    
        letter-spacing: 0.02em;
    
        /* CLOUD */
    
        color: #F4F4FD;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* CLOUD */

    color: #F4F4FD;
}

.footer-logo-start {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* IRIS */
    
        color: #4D5AE5;
}

.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #434455;
}